html,body {padding:0; margin:0;}

.nav {
    list-style-type: none;
}
.nav ul{

    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;

}

.nav li{
    float: right;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}
.nav li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}
.nav li a:hover{
    background-color: deepskyblue;
}
.me{
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-size: 50px;
  background-image: url("Dylan2.jpg");
  background-attachment: fixed;
  background-size: 100%;
  padding-top: 160px;
  padding-right: 30px;
  padding-bottom: 160px;
  padding-left: 30px;
  text-align: center;
  color: black;
}
.about{
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  background-color: white;

  padding-top: 120px;
  padding-right: 30px;
  padding-bottom: 120px;
  padding-left: 30px;
  text-align: center;
  color: black;

}

.about p{
  font-size: 25px;



}

h2{
  font-size: 50px;
}
body{
  align-items: center;
}
li{
  display: inline;
}
.activties {
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  background-image: url("wallpaper.jpg");
  background-attachment: fixed;
  background-size: 100%;
  padding-top: 120px;
  padding-right: 80px;
  padding-bottom: 120px;
  padding-left: 80px;
  text-align: center;
  color: white;

}
.activties ul {
    display: flex;
    align-items: stretch; /* Default */
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 0;
}
.activties li {
    display: block;
    flex: 0 1 auto; /* Default */
    list-style-type: none;

}
.achievements{
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  padding-top: 120px;
  padding-right: 80px;
  padding-bottom: 120px;
  padding-left: 80px;
  text-align: center;
  background-color: teal;
}
.achievements ul {
    display: flex;
    align-items: stretch; /* Default */
    justify-content: space-between;
    width: 100%;

    margin: 0;
    padding: 0;
}
.achievements li {
    display: block;
    flex: 0 1 auto; /* Default */
    list-style-type: none;

}
.work{
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  background-color: white;
  padding-top: 120px;
  padding-right: 30px;
  padding-bottom: 120px;
  padding-left: 30px;
  text-align: center;
}
.contact{
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  background-color: gray;
  padding-top: 120px;
  padding-right: 30px;
  padding-bottom: 120px;
  padding-left: 30px;
  text-align: center;
}
